// --- ARPA PAGE CLASSES ---
.arpa-margin-top {
  margin-top: 110px;
}

.arpa-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 250px;
  height: auto;
  padding-bottom: 10px !important;
}

.impostazioni-icon {
  position: absolute;
  top: 25px;
  right: 10px;
  width: 65px;
  height: auto;
}

.center-flex {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mb--10 {
  margin-bottom: -10px;
}

.arpa-title {
  display: block;
  font-family: 'Gaegu', cursive;
  color: #fff9de;
}

.aggiorna-title {
  font-size: 2.2em !important;
  font-weight: 700;
  margin-left: 15px;
  margin-bottom: -5px !important;
}

.faq-title {
  margin-top: 18px;
  margin-left: 25px !important;
  font-size: 2em;
}

.arpa-card-content {
  padding: 0;
  margin: 0;
}

.faq-content {
  font-family: 'Montserrat', sans-serif;
}

.forma-img {
  display: block;
  margin: 0 auto;
  position: relative;
  margin-bottom: 10px;
  margin-top: -2px;
}

.aggiorna-span {
  margin-left: -40px;
}

.faq-accordion-group {
  background-color: #1d3105;
  border: none !important;
  --border: none !important;
}

.faq-accordion-group ion-accordion {
  border: none !important;
  --border: none !important;
  --border-color: transparent !important;
  margin-bottom: 0px !important;
}

.faq-accordion-group ion-accordion:not(:last-child) {
  border-bottom: none !important;
  --border-bottom: none !important;
}

.faq-accordion {
  --background: #1d3105;
  color: #fff9de;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
  border: none !important;
  --border: none !important;
}

.faq-header {
  --background: #1d3105;
  font-size: 1.4em;
  width: 100%;
  font-weight: normal;
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  border: none !important;
  --border: none !important;
}

.faq-label {
  width: 100%;
  font-weight: normal;
  color: #fff9de;
  font-family: 'Montserrat', sans-serif;
}

.faq-content-text {
  padding-left: 28px;
  font-size: 1.2em;
}

.faq-table-desc {
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
}

.faq-table {
  width: 100%;
  border-collapse: collapse;
  margin-left: -5px;
  font-size: 0.80em;
}

.faq-table th,
.faq-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.faq-table th {
  padding: 5px;
}

.custom-card {
  background: #1d3105 !important;
  border-radius: 38px;
  color: #fff9de;
  font-family: 'Gaegu', cursive;
  width: 400px;
  margin: 0 0 32px 0;
  box-shadow: none !important;
}

.custom-card.first-recipe {
  background: #b6572c !important;
}

ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-bottom: 90px;
}

.custom-card ion-card-title {
  font-family: 'Gaegu', cursive;
  font-size: 2em;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: -10px;
  text-align: left !important;
  margin-left: 25px;
}

ion-accordion {
  background-color: #1d3105 !important;
  color: #fff9de;
  font-family: 'Montserrat', sans-serif;
  border: none !important;
  --border: none !important;
  --border-color: transparent !important;
  --border-width: 0px !important;
}

ion-accordion ion-item {
  --border-color: transparent !important;
  --border-width: 0px !important;
  --inner-border-width: 0px !important;
}

ion-accordion .accordion-header {
  border: none !important;
  --border: none !important;
}

ion-accordion .accordion-content {
  border: none !important;
  --border: none !important;
}

.img-text-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: visible;
  padding-top: 80px;
  margin-bottom: -5px;
}

.centered-img {
  display: block;
  position: relative;
  z-index: 1;
  max-width: 400px;
  object-fit: fill;
  transition: height 0.15s ease;
  margin-top: -96px;
}

.centered-ingredient-text:focus {
  padding-top: 55px !important;
  text-align: left !important;
}

.centered-ingredient-text::placeholder {
  color: #b6572c !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em !important;
  font-weight: 700;
  font-style: italic;
  opacity: 1 !important;
  text-align: left;
  transition: opacity 0.3s ease;
  transform: translateY(35px) translateX(-5px);
}

.centered-ingredient-text:focus::placeholder {
  opacity: 0 !important;
}

.centered-ingredient-text {
  font-size: 1.1em;
  width: 390px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  background: transparent;
  color: #b6572c !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1em;
  border: none;
  outline: none;
  box-shadow: none;
  text-align: left !important;
  resize: none;
  padding: 20px 20px 0 20px !important;
  line-height: 1.3em;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #fff9de #1d3105;
  height: 130px !important;
  transform: translateY(-70px) translateX(-175px);
  overflow-y: auto;
  transition: height 0.15s ease, padding-top 0.15s ease;
}

/* Para celulares grandes y tablets pequeñas (ancho máximo 576px) */
@media (max-width: 576px) {
  .arpa-margin-top {
    margin-top: 80px;
  }

  .arpa-logo {
    width: 250px;
    height: auto;
    top: 8px;
    left: 8px;
  }

  .impostazioni-icon {
    width: 60px;
    top: 20px;
    right: -3px;
  }

  .custom-card {
    width: 95vw;
    max-width: 450px;
    margin: 0 auto 15px auto;
  }

  .custom-card.first-recipe {
    margin: 20px 0 25px 0;
  }

  .faq-title {
    font-size: 1.6em;
    margin: 0 0 -10px 23px;
  }

  .aggiorna-title {
    font-size: 2em !important;
    margin: 15px 0 -10px 35px !important;
  }

  .faq-header {
    font-size: 1.2em;
    padding-left: 8px;
  }

  .faq-content-text {
    padding-left: 25px;
    font-size: 1.1em;
  }

  .faq-table {
    font-size: 0.7em;
    margin-left: 90px !important;
  }

  .faq-table th,
  .faq-table td {
    padding: 5px;
  }

  .centered-img {
    width: 420px !important;
    margin-top: -100px;
  }

  .centered-ingredient-text:focus {
    padding-top: 55px !important;
    text-align: left !important;
  }

  .centered-ingredient-text::placeholder {
    font-size: 0.9em;
    transform: translateY(35px) translateX(-5px) !important;
  }

  .centered-ingredient-text:focus::placeholder {
    opacity: 0 !important;
  }

  .centered-ingredient-text {
    font-size: 1em;
    transform: translateY(-76px) translateX(-180px);
  }

  .center-content img {
    max-width: 200px;
  }

  .center-content .working-text {
    font-size: 1.1em;
  }

  .faq-table {
    margin-left: -1px !important;
  }
}

@media (min-width: 394px) and (max-width: 413px) {

  .aggiorna-title {
    margin-left: 20px !important;
    margin-bottom: -5px !important;
  }
}

/* Para celulares muy pequeños (ancho máximo 320px) */
@media (max-width: 375px) {
  .arpa-margin-top {
    margin-top: 60px;
  }

  .arpa-logo {
    width: 140px;
    top: 5px;
    left: 5px;
  }

  .impostazioni-icon {
    width: 40px;
    top: 15px;
    right: 5px;
  }

  .custom-card {
    width: 95%;
    max-width: 95%;
    margin: 0 auto 25px 0;
    border-radius: 28px;
  }

  .aggiorna-title {
    font-size: 1.5em;
    margin-left: 15px;
    margin-bottom: -5px !important;
  }

  .faq-title {
    font-size: 1.4em;
    margin-left: 20px !important;
    margin-bottom: -5px !important;
  }

  .custom-card ion-card-title {
    font-size: 1.4em;
    margin-left: 10px;
  }

  .faq-header {
    font-size: 1.1em;
    padding-left: 6px;
  }

  .faq-content-text {
    padding-left: 15px;
    font-size: 1em;
  }

  .faq-table {
    font-size: 0.6em;
    margin-left: 0px !important;
  }

  .faq-table th,
  .faq-table td {
    padding: 4px;
  }

  .faq-table th {
    padding: 3px;
  }

  .centered-img {
    max-width: 350px !important;
    margin-top: -100px;
  }

  .centered-ingredient-text {
    max-width: 330px !important;
    transform: translateY(-76px) translateX(-160px) !important;
  }

  .centered-ingredient-text::placeholder {
    font-size: 0.9em;
    transform: translateY(58px);
  }

  .centered-ingredient-text:focus {
    padding-top: 0;
    padding-bottom: 0px;
  }

  .seed-info {
    margin-top: 12px;
  }

  .author-avatar {
    width: 50px;
    height: 50px;
  }

  .seed-icon-btn img {
    width: 35px;
    height: 35px;
  }

  .seed-buttons-row img[alt="Me gusta"],
  .seed-buttons-row img[alt="Comentario"] {
    width: 22px !important;
    height: 22px !important;
  }

  .icon-row {
    margin-right: 20px;
  }

  .icon-row img {
    width: 35px;
    height: 35px;
    margin-top: -15px;
  }

  .center-content img {
    max-width: 150px;
    margin-bottom: 15px;
  }

  .center-content .working-text {
    font-size: 1em;
  }

  .seed-buttons-container {
    gap: 5px;
    padding: 0 0 15px 15px;
  }

  ion-content {
    --padding-bottom: 70px;
  }
}

@media (max-width: 393px) {

  .custom-card {
    margin: 0 0 20px 0;
  }

  .aggiorna-title {
    margin-left: 20px !important;
  }

  .centered-img {
    width: 380px !important;
    margin-top: -100px;
  }

  .centered-ingredient-text:focus {
    padding-top: 55px !important;
    text-align: left !important;
  }

  .centered-ingredient-text::placeholder {
    font-size: 0.9em !important;
    transform: translateY(35px) translateX(-5px) !important;
  }

  .centered-ingredient-text:focus::placeholder {
    opacity: 0 !important;
  }

  .centered-ingredient-text {
    font-size: 1.1em;
    transform: translateY(-76px) translateX(-175px);
  }
}