.custom-card {
  background: #1d3105 !important;
  border-radius: 38px;
  width: 400px;
  box-shadow: none !important;
}

.custom-card.first-recipe {
  background: #b6572c !important;
}

ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-bottom: 90px;
}

.custom-card ion-card-title {
  font-family: 'Gaegu', cursive;
  font-size: 2em;
  font-weight: 700;
  text-align: left !important;
  margin: 0 0 -10px 15px;
}

.img-seed-img.wide-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 430px;
  object-fit: cover;
  margin-left: -5px;
  margin-bottom: -20px;
}

.seed-author {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  color: #fff9de;
  font-weight: 400;
  margin-bottom: 0px;
}

.seed-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-top: -25px;
}

.centered-flex {
  display: flex;
  justify-content: center;
  width: 100%;
}

.custom-title {
  display: block;
  margin-top: 20px !important;
  margin-left: 22px !important;
  margin-bottom: -5px !important;
  font-family: 'Gaegu', cursive;
  color: #fff9de;
  font-size: 2.2em !important;
  font-weight: 700;
}

.custom-title-recipe {
  color: #fff9de !important;
  margin: 15px 0 -25px 30px !important;
  font-size: 2em !important;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.author-avatar.clickable {
  cursor: pointer;
}

.icon-row.left-margin {
  margin-left: -7px;
}

.comment-icon {
  margin-left: -9px;
}

.seed-buttons-container {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 0 0 15px 20px;
  justify-content: flex-start;
  margin-left: 5px;
}

.author-avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}

.seed-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  gap: 7px;
}

.seed-author {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1em;
  color: #fff9de;
  font-weight: 400;
  margin-bottom: 0px;
}

.icon-row {
  display: flex;
  align-items: right;
  margin-right: 50px;
}

.icon-row img {
  width: auto;
  height: 40px;
  margin-top: -20px;
}

.img-text-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
  overflow: visible;
  padding-top: 80px;
}

.centered-img {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  max-width: 400px;
  object-fit: fill;
  transition: height 0.15s ease;
  margin-top: -96px;
}

.centered-ingredient-text:focus {
  padding-top: 80px !important;
  text-align: left !important;
}

.centered-ingredient-text::placeholder {
  color: #b6572c !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 700;
  font-style: italic;
  opacity: 1 !important;
  text-align: left;
  transition: opacity 0.3s ease;
  transform: translateY(60px) translateX(-5px);
}

.centered-ingredient-text:focus::placeholder {
  opacity: 0 !important;
}

.centered-ingredient-text {
  font-size: 1.1em;
  width: 390px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  background: transparent;
  color: #b6572c !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1em;
  border: none;
  border-radius: 12px;
  outline: none;
  box-shadow: none;
  text-align: left !important;
  resize: none;
  padding: 0 20px 0 20px !important;
  line-height: 1.3em;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #fff9de #1d3105;
  height: 180px !important;
  transform: translateY(-95px) translateX(-175px);
  overflow-y: auto;
  transition: height 0.15s ease, padding-top 0.15s ease;
  padding-top: 20px !important;
}

/* ========== RESPONSIVE DESIGN ========== */
/* Para celulares más grandes y algunas tablets pequeñas (hasta 576px de ancho) */
@media (max-width: 576px) {
  .custom-card {
    width: 95vw;
    max-width: 450px;
    margin: 0 auto 15px auto;
  }

  .first-recipe {
    padding-bottom: 15px;
  }

  .custom-card ion-card-title {
    font-size: 1.8em;
    margin-left: 20px;
  }

  .custom-title {
    font-size: 2.1em !important;
    margin: 18px 0 5px 30px !important;
  }

  .custom-title-recipe {
    font-size: 1.8em !important;
    margin: 18px 0 -24px 30px !important;
  }

  .img-seed-img {
    width: 100% !important;
    margin-left: -5px !important;
  }

  .img-text-container {
    min-height: 10px;
  }

  .centered-img {
    width: 420px;
    margin-top: -100px;
  }

  .centered-ingredient-text:focus {
    padding-top: 80px !important;
    text-align: left !important;
  }

  .centered-ingredient-text::placeholder {
    transform: translateY(58px) translateX(-5px);
  }

  .centered-ingredient-text {
    transform: translateY(-100px) translateX(-175px);
    padding-top: 20px !important;
  }

  .center-content img {
    max-width: 200px;
  }

  .center-content .working-text {
    font-size: 1.1em;
  }

  .comment-icon {
    margin-left: -7px !important;
  }

  .author-avatar {
    width: 70px;
    height: 70px;
  }

  .seed-info {
    gap: 10px;
  }

  .seed-author {
    margin-top: 5px;
    font-size: 1em;
  }

  .seed-buttons-container {
    padding: 0px 0 15px 20px;
    margin-top: -25px;
  }
}

@media (min-width: 394px) and (max-width: 413px) {
  .custom-title {
    margin-left: 22px !important;
  }
}


/* Para celulares pequeños (hasta 375px de ancho, ej. iPhone X/11/12/13/14 en retrato) */
@media (max-width: 375px) {
  .custom-card {
    width: 97vw !important;
    max-width: 98vw !important;
    margin: 0 auto 12px auto;
  }

  .custom-card ion-card-title {
    font-size: 1.6em;
    margin: 12px 0 -11px 21px;
  }

  .custom-title {
    font-size: 1.9em !important;
    margin-top: 15px !important;
  }

  .custom-title-recipe {
    font-size: 1.7em !important;
    margin: 18px 0 -20px 25px !important;
  }

  .img-seed-img {
    margin-left: -5px !important;
    width: 100% !important;
  }

  .centered-img {
    max-width: 350px !important;
    margin-top: -100px;
  }

  .centered-ingredient-text {
    transform: translateY(-100px) translateX(-160px) !important;
  }

  .centered-ingredient-text::placeholder {
    font-size: 0.9em;
    transform: translateY(58px);
  }

  .centered-ingredient-text:focus {
    padding-top: 0;
    padding-bottom: 0px;
  }

  .author-avatar {
    width: 65px;
    height: 65px;
  }

  .seed-info {
    margin-top: 5px;
    gap: 15px;
  }

  .seed-author {
    font-size: 1.05em;
  }

  .icon-row {
    margin-top: -8px;
  }

  .icon-row img {
    width: auto;
    height: 40px;
  }

  .comment-icon {
    margin-left: -7px !important;
  }

  .seed-buttons-container {
    padding: 0 0 10px 16px;
    margin-top: -10px !important;
  }
}

@media (max-width: 393px) {
  .custom-card {
    margin: 0 0 20px 0;
  }

  .custom-title {
    margin-left: 20px !important;
  }

  .custom-title-recipe {
    margin-top: 15px !important;
    margin-bottom: -20px !important;
  }

  .centered-img {
    width: 380px !important;
    margin-top: -100px;
  }

  .icon-row img {
    width: auto;
    margin-top: -20px;
    height: 40px;
    margin-left: 1px;
  }

  .comment-icon {
    margin-left: -7px !important;
  }

  .centered-ingredient-text:focus {
    padding-top: 80px !important;
    text-align: left !important;
  }

  .centered-ingredient-text::placeholder {
    font-size: 0.9em;
    transform: translateY(58px) translateX(-5px);
  }

  .centered-ingredient-text:focus::placeholder {
    opacity: 0 !important;
  }

  .centered-ingredient-text {
    font-size: 1.1em;
    width: 360px !important;
    transform: translateY(-100px) translateX(-175px);
  }
}