.bottom-menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1002;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: #697f42 !important;
  padding: 0;
  transition: background 0.2s;
}

.bottom-menu button,
.bottom-menu ion-button {
  flex: 1 1 0;
  margin: 0;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.15em;
  font-weight: 600;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background 0.15s, color 0.15s;
  height: 100%;
  letter-spacing: 0.01em;
}

.bottom-menu button.active,
.bottom-menu ion-button.active {
  background: none;
  color: #fff;
}

.ion-page#main-content {
  color: #fff9de;
}

.bottom-menu {
  padding-top: 0;
  padding-bottom: 0;
  height: 95px;
  align-items: flex-start;
  color: #fff9de;
}

.menu-btn {
  position: relative;
  background: none;
  border: none;
  box-shadow: none;
}

.menu-btn-span {
  display: block;
  position: relative;
  width: 110px;
  height: 90px;
  margin: 0 auto;
}

.selected-icon {
  position: absolute;
  object-fit: fill;
  top: 0;
  left: 0;
  width: auto !important;
  height: 88px;
  z-index: 1;
  pointer-events: none;
  margin-left: -1px;
  margin-top: 2px;
}

.main-icon {
  width: 90px;
  height: 90px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.bottom-menu ion-icon {
  font-size: 1.7em;
  margin-bottom: 2px;
}

.bottom-menu div {
  font-size: 0.93em;
  font-weight: 500;
  margin-top: 0;
}

ion-content .inner-scroll {
  background: #fff9de !important;
  padding-bottom: 100px;
}

@media (min-width: 376px) and (max-width: 393px) {
  .menu-btn-span {
    width: 100px !important;
  }

  .selected-icon {
    height: 90px !important;
    margin-left: -2px;
    margin-top: 0px;
  }
}

@media (max-width: 576px) {

  .menu-btn-span {
    width: 100px !important;
  }

  .selected-icon {
    height: 90px !important;
    margin-left: -2px;
    margin-top: 0px;
  }
}

@media (max-width: 375px) {
  .menu-btn-span {
    width: 90px !important;
  }

  .selected-icon {
    max-width: 98px !important;
    height: 90px !important;
    margin-top: 0px;
    margin-left: 0px;
  }
}