<ion-content class="mappa-content">
  <div class="mappa-header">
    <ion-card class="custom-card full-width">
      <ion-card-content class="no-padding">
        <div class="seed-buttons-container-profilo aligned-left">
          <img src="assets/farmer-4.png" class="farmer-foto clickable margin-left-neg" alt="Farmer" />
          <div class="seed-info">
            <div class="antonietta-title">Antonietta</div>
            <span class="antonietta-desc">Sono contadina da sempre. Vivo tra orti, animali e stagioni. Amo la terra, il pane fatto in casa e la vita semplice.</span>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div #map id="map" class="mappa-map"></div>
  <div class="mappa-footer">
    <ion-card class="custom-card full-width">
      <ion-card-content class="no-padding">
        <div class="miei-semi-title">I miei semi</div>
        <div class="seed-buttons-container aligned-left">
          <img src="assets/seed-icon1.png" class="author-avatar clickable" alt="Farmer" />
          <img src="assets/seed-icon2.png" class="author-avatar clickable" alt="Farmer" />
          <img src="assets/seed-icon3.png" class="author-avatar clickable" alt="Farmer" />
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  </ion-content>
